{# app/Resources/views/form/deny.html.twig #}

<html>
<head>
<title>demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body style="margin-top: 10 ">

<header>
<div style="margin: 20 500px">
<h1>YOU CAN'T ACCESS</h1>
</div>
</header>

<div class="text-center">

NEED ADMIN ACCOUNT TO ACCESS THIS PAGE

</div>
<a  style="margin: 0 650px" href='{{path('show')}}' ><button type="button" class="btn-default btn">Home</button></a>
</body>
</html>